@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 80vh;
    background-color:#191919;
    color: #E5E5CB;;
}

.titulo-destaque {
    color:#22d4df;
}

.apresentacao {
    margin: 7% 12%;
    align-items:center;
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 800px;
    display:flex;
    flex-direction: column;
    gap: 45px;
}
.apresentacao__conteudo__ {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 26px;
    font-family:'Montserrat', sans-serif; 
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    border-radius: 28px;
    background-color: #22d4df;
    width: 260px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: black;
    font-family:'Montserrat', sans-serif;
}
.imagem__rafa {
    
    justify-content:space-between;
    flex-direction:column;
    border-radius: 20px;
    height: 544px;

}